<div id="page_content">
    <div id="page_content_inner">

        <div ckeditor="ckeditor_options" ng-model="ckeditor_description_sort" ready="ckeditor_onReady()"></div>
        <h3 class="heading_c uk-margin-bottom uk-margin-medium-top">Quick Overview Content</h3>
        <pre><code>{{ckeditor_description_sort}}</code></pre>
        <br>
        <div ckeditor="ckeditor_options" ng-model="ckeditor_description" ready="ckeditor_onReady()"></div>
        <h3 class="heading_c uk-margin-bottom uk-margin-medium-top">Description Content</h3>
        <pre><code>{{ckeditor_description}}</code></pre>

    </div>
</div>