    <div id="page_content">
        <div id="page_content_inner">

            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-xlarge-1-2">
                    <h3 class="heading_a uk-margin-bottom">Hierarchical Show</h3>
                    <div class="uk-grid uk-grid-width-large-1-4 uk-grid-width-medium-1-2 uk-grid-medium hierarchical_show" data-uk-grid-margin id="hierarchical-show" hierarchical-show>
                        <div>
                            <div class="md-card">
                                <div class="md-card-content">
                                    Et commodi quam et sint id et facere quos.
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="md-card">
                                <div class="md-card-content">
                                    Rerum sunt amet sit adipisci eos consequatur autem non ipsam eligendi id aut
                                    impedit.
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="md-card">
                                <div class="md-card-content">
                                    Vel sequi aut cumque dolores praesentium distinctio voluptatibus sint nisi
                                    temporibus sit omnis est.
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="md-card">
                                <div class="md-card-content">
                                    Sit vel quis impedit sapiente saepe sunt blanditiis ut officiis ipsum.
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="md-card">
                                <div class="md-card-content">
                                    Doloribus sint dolor omnis consequatur quia eveniet consequatur.
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="md-card">
                                <div class="md-card-content">
                                    Voluptatibus ea exercitationem corrupti non qui aut eos at officiis exercitationem
                                    veritatis et.
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="md-card">
                                <div class="md-card-content">
                                    Maxime dicta non eius aliquid optio eum ut tempore sed ad voluptates quas ut.
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="md-card">
                                <div class="md-card-content">
                                    Provident similique sapiente doloribus et repellat sit dolores eaque minus aut omnis
                                    vero.
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="md-card">
                                <div class="md-card-content">
                                    Facilis aut provident nesciunt est omnis ut inventore ipsa aliquam.
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="md-card">
                                <div class="md-card-content">
                                    Ut a blanditiis eius consectetur impedit rem at eos.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-xlarge-1-2">
                    <h3 class="heading_a uk-margin-bottom">Hierarchical Slide</h3>
                    <div class="md-card-list-wrapper">
                        <div class="md-card-list">
                            <ul class="hierarchical_slide" id="hierarchical-slide" hierarchical-slide>
                                <li>
                                    Et quam non et et nesciunt aut minima corporis voluptates aliquid asperiores eos
                                    perspiciatis accusamus qui nemo sit odio quo corporis magni.
                                </li>
                                <li>
                                    Quis est iure repellendus totam tempore vel officiis ex dolorem est quos a corrupti
                                    molestiae.
                                </li>
                                <li>
                                    Commodi omnis quia ut molestias eum autem ipsum quae unde earum iusto aut laboriosam
                                    voluptatem tempora voluptatem nihil quod et quibusdam aperiam tempore et sunt.
                                </li>
                                <li>
                                    Ipsam sit quas perspiciatis et ut minus cumque facere cumque repudiandae suscipit
                                    voluptatem quod eum et consequatur quia repellat inventore dolorem optio assumenda a
                                    qui nam et autem.
                                </li>
                                <li>
                                    Dolorem voluptas nulla quis et qui ex et dolorum et ipsa consequatur alias qui unde
                                    ipsa neque ea provident occaecati repudiandae cum sit.
                                </li>
                                <li>
                                    Nam adipisci vel voluptas eveniet aut et tempore officiis vel voluptatem quos
                                    similique minima incidunt vitae.
                                </li>
                                <li>
                                    Sapiente porro incidunt commodi quia sunt placeat beatae et quaerat quis rem
                                    pariatur sit.
                                </li>
                                <li>
                                    Ex illo culpa sequi nihil iusto porro est quod voluptate mollitia aut ducimus
                                    explicabo perferendis laudantium sed perspiciatis atque assumenda voluptatem sit ut
                                    quidem.
                                </li>
                                <li>
                                    Et quod dolorem dolorem praesentium et molestias aspernatur quod reiciendis quis
                                    quasi ipsum quia dignissimos doloribus voluptatibus.
                                </li>
                                <li>
                                    Doloremque error corporis deserunt repellendus natus dolor labore blanditiis
                                    consequatur eius ab corporis minus et beatae.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="md-fab-wrapper">
        <a class="md-fab md-fab-danger" href="#" id="replay-animations" ng-click="replayAnimations($event);">
            <i class="material-icons">&#xE042;</i>
        </a>
    </div>