<!--k-actions="['refresh','custom','minimize','maximize','close']"-->
<div>
    <div class="base-class" kendo-window="AddActivity" k-title="'Quick create event'"
         k-actions="[]"
         k-width="920" k-height="528" k-visible="false"
         k-content="{ url: 'app/components/vpcus/windows/AddActivity.html' }"
         k-position="{ top:50 , left: 264 }"
         k-on-open="win2visible = false" k-on-close="win2visible = false"
         >
    </div>
</div>
<div>
    <div class="base-class" kendo-window="detail" 
         k-actions="[]"
         k-width="820" k-height="600" k-visible="false"
         k-content="{ url: 'app/components/vpcus/windows/CustomerDetail.html' }"
         k-position="{ top: 72, left: 264 }"
         k-on-open="win2visible = false" k-on-close="win2visible = false"
         >
    </div>
</div>
<div>
    <div class="base-class" kendo-window="Editdetail" 
         k-actions="[]" k-font-size="14"
         k-width="730" k-height="580" k-visible="false"
         k-content="{ url: 'app/components/vpcus/windows/EditCustomerDetail.html' }"
         k-position="{ top:0, left: 264 }"
         k-on-open="win2visible = false" k-on-close="win2visible = false"
         >
    </div>
</div>
<div>
    <div class="base-class" kendo-window="DialogActivity"
         k-width="400" k-height="180" k-visible="false"
         k-content="{ url: 'app/components/vpcus/windows/DialogActivity.html' }"
         k-position="{ top:50 , left: 264 }"
         k-on-open="win2visible = false" k-on-close="win2visible = false"
         >
    </div>
</div>

<div id="page_content" ng-style="SearchService.style_loading" >
    <div id="page_content_inner">
        <div class="md-card" >

            <div class="md-card-content">
                <h3  class="heading_a" >My LEAD</h3>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        <div class="uk-form-row">
                            <label data-translate="leads.fields.nameCustomer"></label>
                            <input type="text"  class="md-input" md-input ng-model="SearchService.searchName" />
                        </div>
                        <div class="uk-form-row">
                            <label data-translate="leads.fields.CIF"></label>
                            <input type="text" class="md-input" md-input ng-model="SearchService.cif" />
                        </div>
                        <div class="uk-form-row">
                            <div class="uk-width-large-1-1" >
                                <selectize
                                    placeholder="Choose status" id="selec_adv_1" 
                                    config="selectize_Leads_config"
                                    options="selectize_Leads_options" 
                                    position="bottom" 
                                    ng-model="SearchService.searchLeadStatus" >
                                </selectize>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-2">
                        <div class="uk-form-row">
                            <label data-translate="leads.fields.cmnd"></label>
                            <input type="text" class="md-input" md-input ng-model="SearchService.cmnd" />
                        </div>
                        <div class="uk-form-row">
                            <label data-translate="leads.fields.phone"></label>
                            <input type="text" class="md-input" md-input ng-model="SearchService.phone" />
                        </div>
                        <div class="uk-form-row">
                            <div class="uk-width-large-1-1" >
                                <selectize 
                                    placeholder="Choose Lead Source" id="selec_adv_1" 
                                    config="selectize_planets_config"
                                    options="selectize_planets_options" 
                                    position="bottom" 
                                    ng-model="SearchService.searchLeadSource" >
                                </selectize>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="uk-form-row search_buttom">
                    <a style="width: 20%;" class="md-btn md-btn-wave md-btn-primary" ng-click='doSearch()' data-translate="leads.fields.searchText"></a>
                    <a style="width: 20%;background: #cccccc" class="md-btn" ng-click='clearSearch()' data-translate="leads.fields.searchClear"></a>
                </div>
            </div>
        </div>

        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-overflow-container">
                    <table class="uk-table uk-table-nowrap">
                        <thead class="table_header">
                            <tr>
                                <!--<th class="uk-width-1-10 uk-text-center small_col"><input type="checkbox" icheck ng-model="table1.selectAll" class="check_all" table-check-all></th>-->
                                <th class="uk-width-2-10" data-translate="leads.table.userName"></th>
                                <th class="uk-width-2-10" data-translate="leads.table.cmnd"></th>
                                <th class="uk-width-2-10" data-translate="leads.table.phone"></th>
                                <th class="uk-width-2-10" data-translate="leads.table.lead"></th>
                                <th class="uk-width-2-10" data-translate="leads.table.leadStatus"></th>
                                <th class="uk-width-2-10" data-translate="leads.table.dateSub"></th>
                                <th class="uk-width-2-10 uk-text-center" data-translate="leads.table.action"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="item1 in SearchService.table | itemsPerPage: pageSize">
                                <td ng-bind-html="item1.lastname"></td>
                                <td>{{item1.cmnd}}</td>
                                <td>{{item1.phone}}</td>
                                <td >{{item1.cf_1744}}</td>
                                <td><span class="uk-badge uk-badge-success">{{item1.leadstatus}}</span></td>
                                <td>{{ item1.cus_date}}</td>
                                <td class="uk-text-center">
                                    <a ng-show="!detailvisible" ng-click="[AddActivity.open(), disable_layout(false), addActivity(item1.leadid)]" data-uk-tooltip title="Add new activity"><i class="md-icon material-icons">&#xE145;</i></a>
                                    <a ng-show="!detailvisible" ng-click="[Editdetail.open(), disable_layout(true), get_info_detail(item1.leadid)]" data-uk-tooltip title="Edit"><i class="md-icon material-icons">&#xE254;</i></a>
                                    <a ng-show="!detailvisible" ng-click="[detail.open(), disable_layout(true), get_info_detail(item1.leadid)]" data-uk-tooltip title="View detail lead"><i class="md-icon material-icons">&#xE8F4;</i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <dir-pagination-controls boundary-links="false" pagination-current="paginationCurrent" template-url="app/templates/dirPagination.tpl.html"></dir-pagination-controls>
            </div>
        </div>
    </div>
</div>
<div class="md-fab-wrapper ng-scope">
    <a class="md-fab md-fab-accent md-fab-wave-light waves-effect waves-button waves-light" target="_blank" href="{{DOMAIN_VTIGER_2}}/index.php?module=Leads&view=Edit">
        <i class="material-icons"></i>
    </a>
</div>

<script>


</script>

